#                              **MANDATORY PROJECT -1**

######  Q.1. You are working in a bank and you have been given two lists of the employees who worked in 2021. Employee’s name in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, Sarita. Please write a program which helps to identify people who are common in both lists. Please do not use any in-built function.

In [228]:
def common_string():    #DEFINING A FUNCTION
  employee_list1=['ramesh','suresh','Mahesh','Ali','Jacob','Saritha']    # PROVIDED LIST1 INFO
  employee_list2=['Ali','Mukesh','Mahesh','Jacob','Sai','Saritha']       # PROVIDED LISR2 INFO
  for i in employee_list1:                # i = ELEMENTS FOR LIST1 WITH FOR LOOP
    for j in employee_list2:              # j = ELEMENTS FOR LIST2 WITH FOR LOOP
     if i==j:                    # EQUALIZING VARIABLE'S ELEMENTS WITH IF STATEMENT
       print(i,end=" ")          # USING END FUNCTION FOR SEQUENCE RESULT AND WE CAN PRINT i OR j
common_string()                  # CALLING THE FUNCTION

Mahesh Ali Jacob Saritha

###### Q.2. While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and convert them into a list. Once converted in a list, please write a program which adds their age.
Ramesh :  25
Suresh : 22
Mohit : 26

In [229]:
# TO RUN THE CODE USE #- COMMENTS AS PER REQUIRED

common_string="Ramesh Suresh Mohit"    # GIVEN STRING
name=common_string.split()             # TO CONVERT STRING INTO LIST
#print(name)                           # TO PRINT THE RESULT
age=[25,22,26]                         # TAKING AGE AS LIST
bio=dict(zip(name,age))                # ADDING AGES TO NAME USING DICTIONARY AND ZIP FUNCTION
print(bio)                             # PRINTING RESULT

{'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}

######Q.3. A few students from a university have taken three exams
Name = Sam, Jacy, Tom, Steve
Python = 25, 26, 29, 28
Statistics = 23, 21, 19, 25
SQL = 29, 27, 28, 25 
. Please write a program which calculates mean values (no in-built function for mean) of all three tests and print the highest mean value. Addition and other functions are allowed. Please also report who scored the highest mark in python using programming construct.

In [234]:
Python = 25, 26, 29, 28         # PROVIDED INFO
Statistics = 23, 21, 19,25      # PROVIDED INFO
SQL = 29, 27, 28, 25             # PROVIDED INFO
               
Python=25+26+29+28                   # USING ARITHEMATIC OPERATOR AS PER QUESTION ASKED
avg=Python/4                         # TAKING AVERAGE
print("Mean of Python: ",avg)

Statistics=23+21+19+25               # USING ARITHEMATIC OPERATOR AS PER QUESTION ASKED
avg1=Statistics/4                    # TAKING AVERAGE
print("Mean of Stastistics: ",avg1)

SQL=29+27+28+25                      # USING ARITHEMATIC OPERATOR AS PER QUESTION ASKED
avg2=SQL/4                           # TAKING AVERAGE
print("mean of SQL: ",avg2)

max_mean=max(avg,avg1,avg2)          # USING MAX IN-BIULT FUNCTION 
print("Highest mean: ",max_mean)

Mean of Python:  27.0
Mean of Stastistics:  22.0
mean of SQL:  27.25
Highest mean:  27.25

In [235]:
Name='Sam','Jacy','Tom','Steve'      # PROVIDED INFO
Python = 25, 26, 29, 28              # PROVIDED INFO
for i in Name:                       # USING FOR LOOP FOR NAME 
  for j in Python:                   # SING FOR LOOP WITH j VARIABLE 
    k=max(Python)                    # USING MAX IN-BUILT FUNCTION
print("Highest score in Python:",Name[2],k)

Highest score in Python: Tom 29

######Q.4. You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49 and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, total cost of all medicine and how much money you refunded to the patient?

In [ ]:
def medicine_bill():       # DEFINING A FUNCTION 

  paracetamol=int(2*35)    # USING ARITHEMATIC OPERATOR
  azithromycin=int(3*49)   # USING ARITHEMATIC OPERATOR
  vitamin_c=int(5*33)      #  USING ARITHEMATIC OPERATOR

  print("Cost of 2 strips of paracetamol= (2x35): ",paracetamol)          # PRINTING THE RESULT
  print("Cost of 3 strips of azithromycin= (3x49): ",azithromycin)        # PRINTING THE RESULT
  print("Cost of 5 strips of vitamin_c= (5x33): ",vitamin_c)              # PRINTING THE RESULT

  k=paracetamol+azithromycin+vitamin_c       # ADDING THE VALUES INTO A VARIABLE
  print("Total medicines cost: ",k)          # PRINTING THE RESULT

  payment=2000       # GIVEN INFO
  refund=payment-k   # USING ARITHEMATIC OPERATOR 
  print("Money refuned to the patient: ",refund)                         # PRINTING THE RESULT

medicine_bill()      # CALLING THE FUNCTION

Cost of 2 strips of paracetamol= (2x35):  70
Cost of 3 strips of azithromycin= (3x49):  147
Cost of 5 strips of vitamin_c= (5x33):  165
Total medicines cost:  382
Money refuned to the patient:  1618

######Q.5. Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example: I am learning python contains 6 vowels. This function should be applicable for all other different sentences.

In [ ]:
def vowels():                 # DEFINING THE FUNCTION
 sentence=input("Enter any sentence of your choice: " )          # TAKING INPUT FROM USER
 count =0                     # SETTING COUNT TO ZERO
 vowel =set("aeiouAEIOU")          # USING SET FUNCTION 
 for letter in sentence:      # USING FOR LOOP
   if letter in vowel:       
     count=count+1            # INCREASING COUNT WITH ONE FOR EVERY TIME
 print("Count of the vowels is: ",count)
vowels()                      # CALLING THE FUNCTION

######Q.6. You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible your output should be ‘Congrats! You are eligible’, otherwise it should tell that you have to return after X number of years. Eligibility criteria for voting is 18 years. 
For example, If someone is 18 or above your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years it should print output as ‘return after 3 years’.

In [ ]:
def election_commission():      # DEFINING THE FUNCTION
  candidate_age=int(input("Enter the candidate age: "))       # TAKING USER INPUT AND CONVERT TO INTEGER

  if candidate_age >= 18:                                     # USING IF STATEMENT
    print("Congrats! You are eligible")

  else:                                                       # USING ELSE STATEMENT
   k=18-candidate_age           # ARITHEMATIC OPERATOR
   print("Sorry! Return after", k, "years")

election_commission()           # CALLING THE FUNCTION

Enter the candidate age: 0
Sorry! Return after 18 years

# ***THANK YOU!!***